---
import styles from "./Job.module.css";

export interface Props {
  company: string;
  role: string;
  period: string;
}

const { company, role, period } = Astro.props;
---

<div class={styles.job}>
  <h3 class={styles.company}>{company}</h3>
  <div class={styles.roleAndPeriod}>
    <div class={styles.role}>{role}</div>
    <div class={styles.period}>{period}</div>
  </div>
  <slot />
</div>
