---
import styles from "./Link.module.css";

export interface Props {
  href: string;
  target?: string;
  rel?: string;
  style?: astroHTML.JSX.CSSProperties | null | undefined;
}

const { href, target, rel, style } = Astro.props;
---

<a href={href} target={target} rel={rel} style={style} class={styles.link}><slot /></a>
