---
import BaseLayout from "../layouts/BaseLayout.astro";

import Section from "../components/Section.astro";

import About from "../content/index/About.astro";
import AI from "../content/index/AI.astro";
import Connect from "../content/index/Connect.astro";
import DevTools from "../content/index/DevTools.astro";
import Jobs from "../content/index/Jobs.astro";
import ProfilePicture from "../content/index/ProfilePicture.astro";
import Projects from "../content/index/Projects.astro";
import TechStack from "../content/index/TechStack.astro";

import styles from "./_index.module.css";
---

<BaseLayout>
  <div class:list={[styles.layout, styles.layoutOneColumn]}>
    <div class={styles.column}>
      <Section><ProfilePicture /></Section>
      <Section title="About"><About /></Section>
      <Section title="Employment"><Jobs /></Section>
      <Section title="Projects"><Projects /></Section>
      <Section title="Tech Stack"><TechStack /></Section>
      <Section title="Dev Tools"><DevTools /></Section>
      <Section title="AI"><AI /></Section>
      <Section title="Connect"><Connect /></Section>
    </div>
  </div>

  <div class:list={[styles.layout, styles.layoutTwoColumns]}>
    <div class={styles.column}>
      <Section><ProfilePicture /></Section>
      <Section title="About"><About /></Section>
      <Section title="Tech Stack"><TechStack /></Section>
      <Section title="Dev Tools"><DevTools /></Section>
      <Section title="AI"><AI /></Section>
      <Section title="Connect"><Connect /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Projects"><Projects /></Section>
      <Section title="Employment"><Jobs /></Section>
    </div>
  </div>

  <div class:list={[styles.layout, styles.layoutThreeColumns]}>
    <div class={styles.column}>
      <Section><ProfilePicture /></Section>
      <Section title="About"><About /></Section>
      <Section title="Connect"><Connect /></Section>
      <Section title="Tech Stack"><TechStack /></Section>
      <Section title="Dev Tools"><DevTools /></Section>
      <Section title="AI"><AI /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Work"><Jobs /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Projects"><Projects /></Section>
    </div>
  </div>

  <div class:list={[styles.layout, styles.layoutFourColumns]}>
    <div class={styles.column}>
      <Section><ProfilePicture /></Section>
      <Section title="About"><About /></Section>
      <Section title="Connect"><Connect /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Tech Stack"><TechStack /></Section>
      <Section title="Dev Tools"><DevTools /></Section>
      <Section title="AI"><AI /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Work"><Jobs /></Section>
    </div>

    <div class={styles.column}>
      <Section title="Projects"><Projects /></Section>
    </div>
  </div>
</BaseLayout>
